<div class="mc-trocr-read-seen" id="mcSwapRead" hidden>
  <p class="mc-trocr-read-kicker">Na foto</p>
  <ul class="mc-trocr-seen" id="mcTrocrAnalysis">
    <li><label><input type="checkbox" name="mcTrocrAnalysis" value="background"> Fundo</label></li>
    <li><label><input type="checkbox" name="mcTrocrAnalysis" value="images"> Imagens</label></li>
    <li><label><input type="checkbox" name="mcTrocrAnalysis" value="graphic"> Grafismo</label></li>
    <li><label><input type="checkbox" name="mcTrocrAnalysis" value="logo"> Logo</label></li>
    <li><label><input type="checkbox" name="mcTrocrAnalysis" value="headline"> Título</label></li>
    <li><label><input type="checkbox" name="mcTrocrAnalysis" value="secondary"> Texto secundário</label></li>
    <li><label><input type="checkbox" name="mcTrocrAnalysis" value="cta"> CTA</label></li>
    <li><label><input type="checkbox" name="mcTrocrAnalysis" value="supports"> Apoios</label></li>
  </ul>
  <div class="mc-trocr-locks" id="mcTrocrLocks" hidden>
    <p>Fica na peça</p>
    <ul id="mcSwapElements"></ul>
  </div>
</div>
