{% extends 'cadu_family/page.html' %}
{% block product_content %}
{% if module == 'inicio' %}{% include 'cadu_planner/family/home.html' %}
{% elif not user %}{% include 'cadu_planner/family/guest.html' %}
{% elif module == 'planos' %}{% include 'cadu_planner/family/plans.html' %}
{% elif module in ('canais', 'formatos', 'audiencias', 'interativos', 'places') %}{% include 'cadu_planner/family/catalog.html' %}
{% elif module == 'docs' %}{% include 'cadu_planner/family/docs.html' %}
{% elif module == 'links' %}{% include 'cadu_planner/family/link_tester.html' %}
{% else %}{% include 'cadu_family/records.html' %}
{% endif %}
{% endblock %}
